body {
    width: 200px;
    text-align: center;
}
.main-button {
    height: 25px;
    width: 160px;
    margin: 5px;
    text-align: center;
    font-size: 16px;
    padding: 3px 10px 3px 10px;
}
.mode-header {
    margin-top: 0px
}
.foot-button {
    height: 25px;
    width: 80px;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 3px 10px 3px 10px;
}
#url-textbox {
    padding: 3px 10px 3px 10px;
    font-size: 16px;
    height: 25px;
    border: 3px solid rgb(151, 151, 151);
    border-radius: 10px;
    font-family: "Arial", sans-serif;
    width: 160px;
}
#url-textbox:focus {
    border-color: rgb(216, 216, 216);
    outline: 0;
}
